@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #F3F5FC;
}

.logo {
    margin-bottom: 15%;
    
}
.cripto_pronta {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.img_menino {
    margin: 72px;
}

.caixa2 {
    margin: 72px;
}

.caixa {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color:#0A3871;
    margin: 8%;
    
}
