@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #F3F5FC;
}

.logo {
    margin-bottom: 15%;
    
}
.conteudo_cripto_pronta {
    display: flex;
    display: block;
    flex-direction: column;
    background-color: #ffffff;
    width: 400px;
    height: 800px;
    margin: 0 0 0 1460px;
    margin-top: -650px;
    border-radius: 32px;
}

.img_menino {
    margin:30px;
    margin-top: 200px;    
    
}

.conteudo_nenhuma {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 70px;
    margin-top: 20px;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
}

.conteudo_digite {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 70px;
    margin-top: -40px;
    background-color: #ffffff;
    text-align: center;
}

.conteudo_caixa {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color:#0A3871;
    margin: 8%;
    border: none;
}

.botao_cripto {
    display: inline-block;
    align-items: flex-end;
    width: 328px;
    height: 67px;
    margin: 0 0 0 500px;
    background-color: #0A3871;
    border-radius: 24px;
    border: none;
    font-family: 'Inter', sans-serif;
    color: #ffffff;  
   
}

.botao_descripto {
    display: inline-block;
    align-items: flex-end;
    width: 328px;
    height: 67px;
    margin: 0 0 0 50px;
    background-color: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-family: 'Inter', sans-serif;
    color: #0A3871; 
    
}

.conteudo_alerta {
    display: flex;
    justify-content: center;
    font-family:'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #495057;
    padding: 15px;
    margin-left: -600px;
    margin-top: -30px;   
}

.imagem_icone {
    display: flex;
    justify-content: center;
    margin-left: 520px;
    margin-top: 200px; 
        
}

.conteudo_rodape {
    font-family:'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #0A3871;
    text-align: center;
   
}

.conteudo_linkedin {
    background-color: #0A3871;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    padding: 2px;
    margin: 900px;
    
}

.conteudo_github {
    background-color: #0A3871;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    padding: 2px;
    margin: -900px;    
}